
# Data Analysis Project using Python, MySQL, NumPy, Pandas, Matplotlib & Seaborn

## Project Overview
This project demonstrates:
- Python programming basics
- Connecting to MySQL
- Data analysis with NumPy and Pandas
- Data visualization with Matplotlib and Seaborn

**Dataset:** Sample sales data (synthetically created)

## 1. Import Required Libraries

In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")

## 2. Load Dataset (CSV)

In [ ]:

data = {
    "Product": ["Laptop", "Phone", "Tablet", "Laptop", "Phone", "Tablet"],
    "Region": ["North", "South", "East", "West", "North", "South"],
    "Sales": [1200, 800, 600, 1500, 900, 700],
    "Quantity": [5, 10, 7, 6, 12, 8]
}

df = pd.DataFrame(data)
df

## 3. Basic Data Analysis

In [ ]:

df.describe()

## 4. NumPy Operations

In [ ]:

sales_array = np.array(df["Sales"])

print("Mean Sales:", np.mean(sales_array))
print("Max Sales:", np.max(sales_array))
print("Min Sales:", np.min(sales_array))

## 5. Data Visualization with Matplotlib

In [ ]:

plt.figure()
plt.bar(df["Product"], df["Sales"])
plt.title("Sales by Product")
plt.xlabel("Product")
plt.ylabel("Sales")
plt.show()

## 6. Data Visualization with Seaborn

In [ ]:

plt.figure()
sns.boxplot(x="Product", y="Sales", data=df)
plt.title("Sales Distribution by Product")
plt.show()

## 7. MySQL Connection Example


⚠️ Note: Update host, user, password, and database before running.

In [ ]:

# Example MySQL connection code
# import mysql.connector
#
# conn = mysql.connector.connect(
#     host="localhost",
#     user="your_username",
#     password="your_password",
#     database="your_database"
# )
#
# query = "SELECT * FROM sales"
# mysql_df = pd.read_sql(query, conn)
# mysql_df.head()

## 8. Conclusion


This project demonstrates end-to-end data analysis using:
- Python
- MySQL
- NumPy
- Pandas
- Matplotlib
- Seaborn

It is suitable for academic submission and GitHub portfolios.